@inherits LayoutComponentBase

<div id="wrapper" class="wrapper">
    <MudThemeProvider />
    <NavMenu />
    <section class="event-wrap-layout3 inner-page-top-margin bg--accent">
        <div class="container">
            @Body
        </div>
    </section>
    <Footer />
</div>