<div class="col-lg-7 col-12 possition-static">
    <nav class="site-nav">
        <ul class="site-menu">
            <li>
                <a href="#">Home</a>
                <ul class="dropdown-menu-col-1">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="index2.html">Home 2</a></li>
                </ul>
            </li>
            <li>
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li><a href="about-us.html">About</a></li>
            <li>
                <a href="#">Listing</a>
                <ul class="dropdown-menu-col-1">
                    <li>
                        <a href="listing-grid-view1.html">Listing Grid View 1</a>
                    </li>
                    <li>
                        <a href="listing-grid-view2.html">Listing Grid View 2</a>
                    </li>
                    <li>
                        <a href="listing-grid-view3.html">Listing Grid View 3</a>
                    </li>
                    <li>
                        <a href="listing-grid-view4.html">Listing Grid View 4</a>
                    </li>
                    <li>
                        <a href="listing-grid-view5.html">Listing Grid View 5</a>
                    </li>
                    <li>
                        <a href="listing-list-view1.html">Listing List View 1</a>
                    </li>
                    <li>
                        <a href="listing-list-view2.html">Listing List View 2</a>
                    </li>
                    <li>
                        <a href="single-listing1.html">Listing Details 1</a>
                    </li>
                    <li>
                        <a href="single-listing2.html">Listing Details 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Events</a>
                <ul class="dropdown-menu-col-1">
                    <li>
                        <a href="event.html">Event</a>
                    </li>
                    <li>
                        <a href="single-event.html">Event Details</a>
                    </li>
                </ul>
            </li>
            <li class="hide-on-desktop-menu">
                <a href="#">Pages</a>
                <ul class="dropdown-menu-col-1">
                    <li>
                        <a href="pricing.html">Pricing Plan</a>
                    </li>
                    <li>
                        <a href="faq.html">Faq List</a>
                    </li>
                    <li>
                        <a href="404.html">404 Error</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Blog</a>
                <ul class="dropdown-menu-col-1">
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog-list.html">Blog List</a></li>
                    <li><a href="single-blog.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>